.postCard {
  padding: 20px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 8px;
  align-self: stretch;
  flex-basis: 32%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: #F3F8FF;

  span {
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-top: 6px;
  }
  &:hover {
    border: 1px solid rgb(142, 142, 142);
    color: rgb(32, 41, 65);
    background: #e1eeff;
  }
}
